<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>首頁</title>

    <!-- php lib -->
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="assets/js/bootstrap4/bootstrap.css">
    <base href="">
    <!-- <link rel="stylesheet" href="assets/css/all.css"> -->
    <link rel="stylesheet" href="assets/css/index.css">
    <script src="https://cdn.jsdelivr.net/npm/promise-polyfill@8/dist/polyfill.min.js"></script>
    <script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>
    <script src="assets/js/jquery-3.4.1.min.js"></script>
    <script src="assets/js/bootstrap4/popper.min.js"></script>
    <script src="assets/js/vue/vue.js"></script>
    <script src="assets/js/vue/axios.min.js"></script>
    <script src="https://cdn.bootcss.com/qs/6.5.1/qs.min.js"></script>
    <script src="assets/js/bootstrap4/bootstrap.min.js"></script>
    <script src="https://kit.fontawesome.com/0e1a09a8fc.js" crossorigin="anonymous"></script>
    <script src="assets/js/sticky.min.js"></script>
    <script src="assets/js/allfunc.js"></script>

    <!-- php lib -->
    <style>
        .loader_inner_wrapper {
            position: fixed;
            z-index: 99999;
            width: 100%;
            height: 100%;
            background: transparent;
        }

        .loader_inner_wrapper img {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translateX(-50%) translateY(-50%);
        }
    </style>
</head>

<body>
    <div class="loader_inner_wrapper text-center d-none" id="st_loading">
        <img src="assets/images/loading.svg" alt="" width=30 height=30>
    </div>
    <div id="wrapper">

        <!-- 以下menu開始，menu中間卡著一個kv輪播，所以使用absolute定位 -->
        <header>
            <div class="container">
                <nav class="navbar navbar-expand navbar-light d-flex justify-content-between">
                    <a href="./" class="navbar-brand"><img class="img-fluid" src="assets/images/logo.png" alt=""></a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse pt-3 pb-3" id="navbarSupportedContent"
                        style="flex-grow: unset;">
                        <!-- <form class="form-inline d-none d-lg-inline-block" id="site_search">
                            <input class="form-control" type="search" placeholder="在找什麼嗎？" aria-label="Search"
                                id="form_search">
                            <button class="btn" type="submit" id="form_submit"><i class="fas fa-search"></i></button>
                        </form> -->
                        <div class="d-flex flex-row bd-highlight align-items-center" id="header_func">
                            <div class="p-2 pl-lg-4 bd-highlight">
                                <span class="d-md-inline-block d-none"><a href="cart">購物車 / </span><span class="text-warning"
                                    id="price_in_cart">$<?=$this->cart->total()?></span></a>
                                <a href="cart"><i class="fas fa-shopping-cart d-md-none"></i></a>
                            </div>
                            <div class="p-2 bd-highlight">
                                <a href="favorite"><i class="fab fa-gratipay d-md-none"></i><span
                                        class="d-md-block d-none">追蹤清單</span></a>

                            </div>
                            <div class="p-2 bd-highlight">
                                <a href="mc_order"><i class="fas fa-user-circle d-md-none"></i><span
                                        class="d-md-block d-none">帳戶管理</span></a>

                            </div>
                        </div>
                    </div>
                </nav>
            </div>
        </header>
        <div id="menu" class="sticky" :data-margin-top="(isMb)? 60 :90">
            <div class="container"
                :style="{'max-width': menu_width+'px', 'overflow-x': show_menu_scroll ? 'scroll': 'hidden' }">
                <ul :style="{'width': menu_width+'px' }" class="main_menu">
                    <li class="d-inline-block" v-for="(item, index) in main_list"
                        @click="menuHandler('current_main_menu', index, item.category_id)"
                        :class="{'active':current_main_menu === index}">{{ item.category_name }}</li>
                </ul>
            </div>
            <div id="sub_menu" class="container" :class="{'show': current_main_menu !== null}" @mouseleave="mouseLeave"
                @focusout="mouseLeave" v-if="current_main_menu">
                <div class="for_mb_left">
                    <ul v-for="(sub_item, idx) in sub_list" class="d-inline-block">
                        <h4 :class="{'active': current_extra_menu === idx }"
                            @click="menuHandler('current_sub_menu', idx , sub_item.category_sub_id )">{{ sub_item.category_sub_name }}</h4>
                        <li v-for="extra_item in sub_item.extralist"><a :href="'category?category_id=' + current_main_menu + '&category_sub_id=' + sub_item.category_sub_id + '&category_extra_id=' + extra_item.category_extra_id">{{ extra_item.category_extra_name}}</a>
                        </li>
                    </ul>
                    <!-- <ul v-for="(sub_item, idx) in filter_rest_list" class="d-inline-block">
                        <h4 :class="{'active': current_extra_menu === idx }"
                            @click="menuHandler('current_sub_menu', idx)">{{ sub_item.category_sub_name }}</h4>
                        <li v-for="extra_item in sub_item.extra_list"><a
                                href="#">{{ extra_item.category_extra_name}}</a>
                        </li>
                    </ul> -->
                </div>
                <div class="d-md-none">
                    <ul>
                        <li v-for="extra_item in sub_list[current_extra_menu]['extralist']"><a
                        :href="'category?category_id=' + current_main_menu + '&category_sub_id=' + current_sub_menu + '&category_extra_id=' + extra_item.category_extra_id">{{ extra_item.category_extra_name}}</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <link rel="stylesheet" href="assets/css/header.css">

        <script type="text/babel">
            var wrapper_mall_menu = new Vue({
                el: "#menu",
                data: {
                    main_list: [],
                    sub_list: null, //active
                    extra_list: null, //active
                    allTree : {},
                    current_main_menu: null,
                    current_sub_menu: "", // category_id
                    current_extra_menu: 0, // category_sub_id
                    menu_width: 1360, // default: 個別選單寬度80*17個
                    isMb: true,
                    sticky: null,
                    show_menu_scroll: true,
                },
                computed: {
                    // filter_rest_list: function () {
                    //     const _this = this;
                    //     //主選單對應之次選單
                    //     if (this.sub_list) {
                    //         console.log(this.sub_list)
                    //         const filter_data = this.sub_list.filter(function (item) {
                    //             const inner_list = _this.extra_list.filter(function (extra) {
                    //                 return extra.category_sub_id === item.category_sub_id;
                    //             });
                    //             if (item.category_id === _this.current_sub_menu) {
                    //                 // 把對應extra_list塞入sub_list
                    //                 item["extra_list"] = inner_list;
                    //             }
                    //             return item.category_id === _this.current_sub_menu;
                    //         });
                    //         return filter_data;
                    //     }
                    // },
                    // filter_mb_extra_list: function () {
                    //     //次選單對應之下層選單，手機版使用
                    //     const extra_list = this.filter_rest_list[this.current_extra_menu];
                    //     return extra_list ? extra_list.extra_list : [];
                    // },
                },
                mounted: function () {
                    const _this = this;
                    this.$nextTick(function () {
                        _this.sticky = new Sticky(".sticky");
                        _this.detectWindowWidth();
                        _this.loadAll(); //載入全部選單
                        document.addEventListener("click", function (e) {
                            // 選單展開後，點非menu內的物件，即關閉選單
                            const menu = document.getElementById("menu");
                            const menu_outside_click = ~e.composedPath().indexOf(menu) >= 0;
                            if (menu_outside_click) _this.current_main_menu = null;
                        });
                        window.addEventListener(
                            "resize",
                            function () {
                                // 偵測是否為手機寬度 767
                                _this.detectWindowWidth();
                            },
                            true
                        );
                    });
                },
                methods: {
                    detectWindowWidth: function () {
                        const ori_status = this.isMb;
                        if (window.innerWidth <= 767 && !this.isMb) {
                            this.isMb = true;
                            this.sticky.destroy();
                            this.sticky = new Sticky(".sticky");
                        } else if (window.innerWidth > 767 && this.isMb) {
                            this.isMb = false;
                            this.sticky.destroy();
                            this.sticky = new Sticky(".sticky");
                        }
                        this.show_menu_scroll = this.menu_width > ( window.innerWidth - 40);
                        // console.log(this.show_menu_scroll);
                    },
                    loadAll: function () {
                         //載入全部選單
                        const _this = this;
                        axios({
                            method : 'post',
                            url : './assets/json/full_tree.json',
                            responseType : 'json', 
                        }).then(function(data){
                            // console.log(data)
                            if( data.status == 200 ){
                                var _data = data.data;
                                
                                for(var i = 0 ; i < _data.length ; i++){
                                    // console.log(_data[i])
                                    var _obj = {}
                                    _obj['category_id'] = _data[i]['category_id']
                                    _obj['category_name'] = _data[i]['category_name'];
                                    _this.main_list.push(_obj);
                                    _this.allTree[_data[i]['category_id']] = _data[i]['sublist'];
                                }
                            }else{
                            }
                        })
                    },
                    loadMenu: function () {
                        const _this = this;
                        axios({
                            method : 'post',
                            url : './api_category/find_main_list',
                            responseType : 'json', 
                        }).then(function(data){
                            // console.log(data)
                            if( data.status == 200 ){
                                _this.main_list = data.data;
                                // var _length = _this.category.main.length-1;
                                // _this.selectedIdx.main = allFunc.randomFunc(0,_length);
                                // callback();
                            }else{
                            }
                            // console.log("!:")
                            _this.close = {
                                sub : false,
                                extra : true
                            }
                        })
                    },
                    menuHandler: function (menuType, index, id) {
                        // 選單切換
                        console.log(menuType)
                        var _this = this;
                        switch (menuType) {
                            case "current_main_menu": {
                                this[menuType] = index;
                                this.current_main_menu = id;
                                this.sub_list = _this.allTree[id];
                                this.current_extra_menu = 0;
                                // this.extra_list = _this.allTree[id]['extralist'];
                                // console.log(this.current_sub_menu)
                                // console.log(this.sub_list)
                                // console.log(this.extra_list)
                            }
                            break;
                            case "current_sub_menu": {
                                this.current_sub_menu = id;
                                this.current_extra_menu = index;
                                // this.current_sub_menu = id;
                                // console.log(this.current_extra_menu)
                            }
                            break;
                        }
                    },
                    mouseLeave: function () {
                        this.current_main_menu = null;
                    },
                    list_sub : function(categroy){
                        var _this = this;
                        axios({
                            method : 'get',
                            url : './api_category/find_sub_list',
                            responseType : 'json', 
                            params : {
                                category_id : categroy
                            }
                        }).then(function(data){
                            // console.log(data)
                            if( data.status == 200 ){
                                _this.category.sub = data.data;
                                // console.log("_this.category.sub.length")
                                // console.log(_this.category.sub.length)
                                if( _this.category.sub.length == 0 ){
                                    _this.close = {
                                        sub : true,
                                        extra : true
                                    }
                                }else{
                                    _this.close = {
                                        sub : false,
                                        extra : true
                                    }
                                }
                                // _this.close = {
                                //     sub : false,
                                //     extra : false
                                // }
                            }else{
                            }
                        })
                    },
                },
            });
        </script>
        <!-- menu結束 -->


        <!-- 以下content始 -->
        <div id="content">
            <div id="carouselIndexCaptions" class="carousel slide carousel-fade" data-ride="carousel" data-interval="4000"
                v-if="indexData.length">
                <div class="carousel-inner">
                    <div class="carousel-item" :class="{'active': idx == 0 }" :data-bb="slide.img_src_pc"
                        v-for="(slide,idx) in indexData[0].datalist">
                        <div class="container" :style="{ 'background-color' : slide.bgcolor }">
                            <a :href="slide.target_link" :target="slide.target" class="d-none d-md-block"
                                rel="noopener noreferrer">
                                <img :src="slide.img_src_pc" class="d-block w-100" :alt="slide.subject">
                            </a>
                            <a :href="slide.target_link" rel="noopener noreferrer" :target="slide.target"
                                class="d-xs-block d-md-none"><img :src="slide.img_src_m" class="d-block w-100"
                                    alt=""></a>
                        </div>
                        <div class="blur_bg" :style="{'background-image': 'url(' + slide.img_src_pc + ')'}"></div>
                    </div>
                </div>
                <div class="container arrow">
                    <a class="carousel-control-prev" href="#carouselIndexCaptions" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselIndexCaptions" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
                
            </div>


            <div id="tab1" class="container tab_area" v-if="indexData.length">
                <div class="tab">
                    <ul :style="{'width': tab1_width+ 'px'}">
                        <li class="d-inline-block" v-for="(tab, idx) in indexData[1].datalist"
                            :class="{'active': idx === current_tab1 }" @click="tabHandler('current_tab1', idx)">
                            {{ tab.title }}</li>
                    </ul>
                </div>

                <div class="mb_scroll">
                    <!-- 手機版此div才有作用for左右scrolling -->
                    <div class="row content_list" v-for="(row, idx) in indexData[1].datalist"
                        :class="{'active': idx === current_tab1 }" :style="{width: listWidth(1, idx)}">
                        <div class="col-sm-6 col-md-4 col-lg-3" v-for="(list, index) in row.products_list">
                            <div class="img_wrapper">
                                <img :src="list.product_main_img" width="100%" alt="">
                                <span class="label">{{ row.title }}</a>
                            </div>
                            <div class="info">
                                <h6>
                                    {{ list.product_name }}
                                </h6>
                                <span class="f_orange" v-if="list.product_ad_info">{{ list.product_ad_info }}</span>
                                <span class="f_grey suggest_price">原價
                                    <span>{{ list.product_suggest_price }}</span></span>
                                <font class="d-inline-block"
                                    :style="{'color': list['tag-color'], 'border-color': list['tag-color']}"
                                    v-if="list['tag-text']">
                                    {{ list['tag-text'] }}</font>
                                <h5 class="f_orange price">{{ list.product_selling_price }}</h5>
                            </div>
                        </div>

                    </div>
                </div>

                <a :href="indexData[1].link.href" class="see_more">{{ indexData[5].link.title }}</a>
            </div>



            <div id="carousel2" class="carousel_type carousel slide" data-ride="carousel" data-interval="4000"
                v-if="indexData.length">
                <div class="carousel-inner container">
                    <div class="carousel-item" :class="{'active': idx == 0 }" :data-bb="slide.img_src_pc"
                        v-for="(slide,idx) in indexData[2].datalist">
                        <div :style="{ 'background-color' : slide.bgcolor }">
                            <a :href="slide.target_link" :target="slide.target" class="d-none d-md-block"
                                rel="noopener noreferrer">
                                <img :src="slide.img_src_pc" class="d-block w-100" :alt="slide.subject">
                            </a>
                            <a :href="slide.target_link" rel="noopener noreferrer" :target="slide.target"
                                class="d-xs-block d-md-none"><img :src="slide.img_src_m" class="d-block w-100"
                                    alt=""></a>
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#carousel2" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carousel2" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                    <ol class="carousel-indicators">
                        <li data-target="#carousel2" v-for="(slide,idx) in indexData[2].datalist" :data-slide-to="idx"
                            :class="{'active': idx === 0 }"></li>
                    </ol>

                </div>

            </div>


            <div id="tab2" class="container tab_area" v-if="indexData.length">
                <div class="tab">
                    <ul :style="{'width': tab2_width+ 'px'}">
                        <li class="d-inline-block" v-for="(tab, idx) in indexData[3].datalist"
                            :class="{'active': idx === current_tab2 }" @click="tabHandler('current_tab2', idx)">
                            {{ tab.title }}</li>
                    </ul>
                </div>

                <div class="mb_scroll">
                    <!-- 手機版此div才有作用for左右scrolling -->
                    <div class="row content_list" v-for="(row, idx) in indexData[3].datalist"
                        :class="{'active': idx === current_tab2 }" :style="{width: listWidth(3, idx)}">
                        <div class="col-sm-6 col-md-4 col-lg-3" v-for="(list, index) in row.products_list">
                            <div class="img_wrapper">
                                <img :src="list.product_main_img" width="100%" alt="">
                                <span class="label">{{ row.title }}</a>
                            </div>
                            <div class="info">
                                <h6>
                                    {{ list.product_name }}
                                </h6>
                                <span class="f_orange" v-if="list.product_ad_info">{{ list.product_ad_info }}</span>
                                <span class="f_grey suggest_price">原價
                                    <span>{{ list.product_suggest_price }}</span></span>
                                <font class="d-inline-block"
                                    :style="{'color': list['tag-color'], 'border-color': list['tag-color']}"
                                    v-if="list['tag-text']">
                                    {{ list['tag-text'] }}</font>
                                <h5 class="f_orange price">{{ list.product_selling_price }}</h5>
                            </div>
                        </div>

                    </div>
                </div>

                <a :href="indexData[3].link.href" class="see_more">{{ indexData[5].link.title }}</a>
            </div>



            <div id="carousel3" class="carousel_type carousel slide" data-ride="carousel" data-interval="4000"
                v-if="indexData.length">
                <div class="carousel-inner container">
                    <div class="carousel-item" :class="{'active': idx == 0 }" :data-bb="slide.img_src_pc"
                        v-for="(slide,idx) in indexData[4].datalist">
                        <div :style="{ 'background-color' : slide.bgcolor }">
                            <a :href="slide.target_link" :target="slide.target" class="d-none d-md-block"
                                rel="noopener noreferrer">
                                <img :src="slide.img_src_pc" class="d-block w-100" :alt="slide.subject">
                            </a>
                            <a :href="slide.target_link" rel="noopener noreferrer" :target="slide.target"
                                class="d-xs-block d-md-none"><img :src="slide.img_src_m" class="d-block w-100"
                                    alt=""></a>
                        </div>
                    </div>
                    <a class="carousel-control-prev carousel_btn" href="#carousel3" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next carousel_btn" href="#carousel3" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                    <ol class="carousel-indicators">
                        <li data-target="#carousel3" v-for="(slide,idx) in indexData[4].datalist" :data-slide-to="idx"
                            :class="{'active': idx === 0 }"></li>
                    </ol>

                </div>

            </div>


            <div id="tab3" class="container tab_area" v-if="indexData.length">
                <div class="tab">
                    <ul :style="{'width': tab2_width+ 'px'}">
                        <li class="d-inline-block" v-for="(tab, idx) in indexData[5].datalist"
                            :class="{'active': idx === current_tab3 }" @click="tabHandler('current_tab3', idx)">
                            {{ tab.title }}</li>
                    </ul>
                </div>

                <div class="mb_scroll">
                    <!-- 手機版此div才有作用for左右scrolling -->
                    <div class="row content_list" v-for="(row, idx) in indexData[5].datalist"
                        :class="{'active': idx === current_tab3 }" :style="{width: listWidth(5, idx)}">
                        <div class="col-sm-12 col-md-12 col-lg-6">
                            <div id="carousel4" class="carousel_type carousel slide" data-ride="carousel"
                                data-interval="4000" v-if="idx === current_tab3">
                                <div class="carousel-inner container">
                                    <div class="carousel-item" :class="{'active': idx == 0 }"
                                        v-for="(slide, idx) in row.slider_list"
                                        :style="{'background-image': 'url('+ slide.img_src +')'}">
                                        <img :src="slide.img_src" alt="" width="100%" class="d-md-block d-md-none" />
                                        <!-- 需再992以下就必須顯示 -->
                                    </div>
                                </div>
                                <a class="carousel-control-prev carousel_btn" href="#carousel4" role="button"
                                    data-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                    <span class="sr-only">Previous</span>
                                </a>
                                <a class="carousel-control-next carousel_btn" href="#carousel4" role="button"
                                    data-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    <span class="sr-only">Next</span>
                                </a>
                                <ol class="carousel-indicators">
                                    <li data-target="#carousel4" v-for="(slide,idx) in row.slider_list"
                                        :data-slide-to="idx" :class="{'active': idx === 0 }"></li>
                                </ol>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-4 col-lg-3" v-for="(list, index) in row.products_list">
                            <div class="img_wrapper">
                                <img :src="list.product_main_img" width="100%" alt="">
                                <span class="label">{{ row.title }}</span>
                            </div>
                            <div class="info">
                                <h6>
                                    {{ list.product_name }}
                                </h6>
                                <span class="f_orange" v-if="list.product_ad_info">{{ list.product_ad_info }}</span>
                                <span class="f_grey suggest_price">原價
                                    <span>{{ list.product_suggest_price }}</span></span>
                                <font class="d-inline-block"
                                    :style="{'color': list['tag-color'], 'border-color': list['tag-color']}"
                                    v-if="list['tag-text']">
                                    {{ list['tag-text'] }}</font>
                                <h5 class="f_orange price">{{ list.product_selling_price }}</h5>
                            </div>
                        </div>

                    </div>
                </div>
                <a :href="indexData[5].link.href" class="see_more">{{ indexData[5].link.title }}</a>
            </div>


        </div>
        <script type="text/babel">
            var wrapper = new Vue({
                el: '#content',
                data: {
                    indexData: [],
                    tab_width: 137,
                    list_item_width: 146,
                    current_tab1: 0,
                    current_tab2: 0,
                    current_tab3: 0,
                    tab1_width: 0,
                    tab2_width: 0,
                    tab3_width: 0,

                },
                created: function () {
                    this.index();
                },
                mounted: function () {
                    var _this = this;
                    _this.loadAndPop();
                    // 上下頁照params改動
                    window.onpopstate = function () {
                        _this.loadAndPop();
                    };
                    // 固定分類選單

                },
                methods: {
                    index: function () {
                        var _this = this;
                        axios({
                            method: 'get',
                            url: 'assets/json/index.json',
                            responseType: 'json',
                        }).then(function (data) {
                            const {
                                data: index_data,
                                status
                            } = data;
                            if (status == 200) {
                                _this.indexData = index_data;
                                _this.tab1_width = _this.tab_width * index_data[1].datalist.length;
                                _this.tab2_width = _this.tab_width * index_data[3].datalist.length;
                                _this.tab3_width = _this.tab_width * index_data[5].datalist.length;
                            } else {}
                        })
                    },
                    tabHandler: function (tab, index) {
                        // console.log(tab, index);
                        this[tab] = index;
                    },
                    listWidth: function (tabIndex, listIndex) {
                        // console.log(tabIndex, listIndex)
                        const totalListWidth = (this.indexData) ? this.indexData[tabIndex].datalist[
                                listIndex]
                            .products_list.length * this.list_item_width + 40 :
                            0; //取得該資料長度 * 每欄固定寬度 + padding左右各20
                        return totalListWidth + 'px';
                    },
                    loadAndPop: function () {
                        var _this = this;
                        var _isUrlClear = allFunc.getUrlParam("category_id");
                        // _this.slide();
                        _this.index();

                        function afterMainLoad() {
                            // if( _isUrlClear == "" || _isUrlClear == null){
                            // 網址不帶params。隨機
                            // var _length = _this.category.main.length-1;
                            // var _getRandom = allFunc.randomFunc(0,_length);
                            // _this.category.active = {
                            //     main : _this.category.main[_getRandom].category_id,
                            //     sub : null,
                            //     extra : null,
                            // }
                            // window.history.pushState({},0,'category/' + '?category_id=' + _this.category.active.main);
                            // }else{
                            // _this.category.active = {
                            //     main : allFunc.getUrlParam("category_id"),
                            //     sub : allFunc.getUrlParam("category_sub_id"),
                            //     extra : allFunc.getUrlParam("category_extra_id"),
                            // }
                            // }
                            // 如果sub在：呼叫sub跟extra
                            // 如果sub不在：呼叫sub
                            // console.log(_this.category.active["sub"])
                            // if( _this.category.active["sub"] == undefined || _this.category.active["sub"] == null ){
                            //     // 如果sub不在
                            //     _this.list_sub(_this.category.active["main"]);
                            // }else{
                            //     // 如果sub在
                            //     _this.list_sub(_this.category.active["main"]);
                            //     _this.list_extra(_this.category.active["sub"]);
                            // }
                            // 呼叫商品列表
                            // _this.product_list()
                        }
                    },
                }
            });
        </script>
        <!-- content結束 -->


        <!-- footer php include -->
        <div id="footer">
            <div class="container mt-5 pt-4 clearfix">
                <div class="index-for5 mb-4">
                    <h2 class="mb-3">關於我們</h2>
                    <ul>
                        <li><a href="http://" target="_blank" rel="noopener noreferrer">7YAGO福利網</a></li>
                        <li><a href="http://" target="_blank" rel="noopener noreferrer">招募供應商</a></li>
                        <li><a href="http://" target="_blank" rel="noopener noreferrer">機構團體加入</a></li>
                    </ul>
                </div>
                <div class="index-for5 mb-4">
                    <h2 class="mb-3">專屬服務</h2>
                    <ul>
                        <li><a href="http://" target="_blank" rel="noopener noreferrer">大宗採購方案</a></li>
                        <li><a href="http://" target="_blank" rel="noopener noreferrer">年節禮品採購</a></li>
                        <li><a href="http://" target="_blank" rel="noopener noreferrer">異業合作</a></li>
                    </ul>
                </div>
                <div class="index-for5 mb-4">
                    <h2 class="mb-3">會員權益</h2>
                    <ul>
                        <li><a href="http://" target="_blank" rel="noopener noreferrer">隱私權政策</a></li>
                        <li><a href="http://" target="_blank" rel="noopener noreferrer">電子商務條款</a></li>
                    </ul>
                </div>
                <div class="index-for5 mb-4">
                    <h2 class="mb-3">常見問題</h2>
                    <ul>
                        <li><a href="http://" target="_blank" rel="noopener noreferrer">訂單出貨流程說明</a></li>
                        <li><a href="http://" target="_blank" rel="noopener noreferrer">取消訂單/退貨/退款說明</a></li>
                        <li><a href="http://" target="_blank" rel="noopener noreferrer">購物金使用說明</a></li>
                        <li><a href="http://" target="_blank" rel="noopener noreferrer">聯絡我們</a></li>
                    </ul>
                </div>
                <div class="index-for5 mb-4">
                    <h2 class="mb-3">隨身好助理</h2>
                    <img src="assets/images/qrcode.png" alt="" class="img-fluid w-75">
                </div>
            </div>
            <div class="text-center pb-3">
                <p class="m-0"><small>吉品養生股份有限公司 2020 ALL Rights Reserved</small></p>
                <p><small class="m-0">台北市忠孝東路四段212號10樓。客服信箱：service@yonglinfarm.net</small></p>
            </div>
        </div>


    </div>


    </div>
</body>

</html>