header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 800;
  background-color: #fff;
  .navbar {
    * {
      color: #2b2219;
      font-size: 18px;
    }
    img{
        width: 160px;
    }
    #site_search {
      position: relative;
    }
    #form_search{
      border-radius: 30px;
      border: 1px solid #D3D3D3;
    }
    #form_submit{
        position: absolute;
        right: 0;
        border : 0;
        color: #000000;
        top: 0;
        box-shadow: none;
        &:hover{
            background: transparent;
        }
    }
    .text-warning {
      color: #dd4500 !important  ;
    }
  }
 
}

