$topColor: #dd4500;
body {
  color: #4e4e4e;
}
body,
html {
  font-family: "Noto Sans TC", sans-serif;
  overflow-x: hidden;
  width: 100%;
}

.f_orange {
  color: #dd4500;
}

.f_grey {
  color: #4e4e4e;
}

#wrapper {
  position: relative;
}

#content {
  margin-top: 90px;
  @media (max-width: 767px) {
    margin-top: 60px;
  }
}

.container {
  padding: 0;
  @media (min-width: 1300px) {
    max-width: 1260px;
    padding: 0;
  }
}

// 選單開始
#menu {
  background-color: #6e6e6e;
  font-size: 14px;
  overflow: visible;
  height: 43px;
  position: absolute;
  top: calc(20vw + 8px);
  left: 0;
  width: 100%;
  z-index: 200;
  @media (max-width: 767px) {
    top: 100.5vw;
  }
  .container {
    overflow-x: scroll;
    position: relative;
    width: calc(100% - 40px);
  }
  ul.main_menu {
    // display: flex;
    // flex-wrap: wrap;
    // justify-content: space-around;
    padding: 0;
    margin-bottom: 0;
    li {
      color: #fff;
      line-height: 43px;
      width: 80px;
      text-align: center;
      cursor: pointer;
      &.active {
        background-color: #dd4519;
      }
      @media (min-width: 992px) {
        &:hover {
          background-color: #dd4519;
        }
      }
    }
  }
  #sub_menu {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    top: 43px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    background-color: #ffffff;
    padding: 25px 80px;
    display: none;
    &.show {
      display: block;
    }
    @media (max-width: 1200px) {
      padding: 25px 40px;
    }
    @media (max-width: 767px) {
      padding: 0 25px;
      width: 100%;
      max-width: 100%;
      display: flex !important;
    }
    ul {
      font-size: 14px;
      width: 140px;
      text-indent: 6px;
      vertical-align: top;
      margin-right: 40px;
      padding-left: 0;
      &:last-child {
        margin-right: 0;
      }
      @media (max-width: 767px) {
        display: block !important;
        width: auto;
        margin-right: 20px;
      }
    }
    h4 {
      font-size: 14px;
      color: #dd4519;
      padding-bottom: 10px;
      margin-bottom: 10px;
      border-bottom: #dd4519 1px solid;
      @media (max-width: 767px) {
        color: #838383;
        border-bottom: none;
        margin-bottom: 0;
        padding-bottom: 0;
        &.active {
          color: #dd4519;
          &:after {
            content: ">";
            padding-left: 10px;
          }
        }
      }
    }
    li {
      font-size: 14px;
      margin-bottom: 10px;
      line-height: 1.5;
      text-align: left;
      list-style-type: none;
      @media (max-width: 767px) {
        display: none;
      }
      a {
        color: #838383;
        @media (min-width: 992px) {
          &:hover {
            color: #dd4519;
          }
        }
      }
    }
    .d-md-none {
      border-left: 1px solid #ebebeb;
      padding: 25px 0 25px 35px;
      display: inline-block;
      min-height: 100px;
      vertical-align: top;

      li {
        @media (max-width: 767px) {
          display: block;
        }
      }
    }
    .for_mb_left {
      @media (max-width: 767px) {
        padding: 25px 0;
        display: inline-block;
        vertical-align: top;
      }
    }
  }
}
// 選單結束

#carouselIndexCaptions {
  padding-bottom: 43px;
  border-top: 5px #f5f5f5 solid;
  .carousel-control-prev,
  .carousel-control-next {
    margin-top: -22px;
  }
}

.tab_area {
  margin-top: 48px;
  position: relative;
  @media (max-width: 575px) {
    margin-bottom: 20px;
  }
  .tab {
    height: 51px;
    border-bottom: 3px solid #eaa693;
    margin-bottom: 20px;
    overflow-x: scroll;
    background-color: #f8f8f8;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    @media (max-width: 767px) {
      border-top-right-radius: 0;
      border-top-left-radius: 0;
      background-color: transparent;
    }
    @media (max-width: 575px) {
      width: calc(100% - 40px);
      margin-left: auto;
      margin-right: auto;
    }
    ul {
      padding: 0;
      margin: 0;
      background-color: #f8f8f8;
      border-top-right-radius: 15px;
      border-top-left-radius: 15px;
    }
    li {
      width: 137px;
      position: relative;
      text-align: center;
      font-size: 16px;
      line-height: 48px;
      color: #606060;
      &:after {
        content: "";
        position: absolute;
        right: 0;
        top: 12px;
        height: 24px;
        width: 1px;
        background-color: #eaa693;
      }
      &:last-child {
        &:after {
          display: none;
        }
      }
      &.active {
        border-top-right-radius: 15px;
        border-top-left-radius: 15px;
        background-color: #de4a20;
        color: #fff;
        &:after {
          background-color: transparent;
        }
      }
    }
  }
  .mb_scroll {
    width: 100%;
    overflow-x: scroll;
  }
  .content_list {
    display: none;
    &.active {
      display: flex;
    }
    @media (min-width: 576px) {
      width: calc(100% + 30px) !important;
    }
    @media (max-width: 575px) {
      margin-left: 0;
      margin-right: 0;
      padding: 0 20px;
    }
    > div {
      margin-bottom: 20px;
      @media (max-width: 575px) {
        &.col-lg-3 {
          width: 146px;
          padding: 0 5px;
          margin-bottom: 0;
        }
      }
    }
    .img_wrapper {
      position: relative;
      span {
        position: absolute;
        bottom: 0;
        left: 0;
        line-height: 37px;
        padding: 0 20px;
        background-color: #81b44d;
        color: #fff;
        border-top-right-radius: 15px;
        @media (max-width: 575px) {
          padding: 0 10px;
        }
      }
    }
  }

  .see_more {
    position: absolute;
    right: 13px;
    top: 13px;
    line-height: 24px;
    color: #606060;
    &::after {
      content: "";
      display: inline-block;
      vertical-align: top;
      text-align: center;
      width: 24px;
      height: 24px;
      background-color: #de4a20;
      background-image: url("../../assets/images/arrow.png");
      background-size: 10px;
      background-repeat: no-repeat;
      background-position: center;
      color: #fff;
      border-radius: 50%;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      -o-border-radius: 50%;
      margin-left: 8px;
    }
    @media (max-width: 767px) {
      position: relative;
      display: block;
      top: 0;
      margin: 0 15px 30px;
    }
    @media (max-width: 575px) {
      margin: 20px 0 30px 35px;
    }
  }
}

.carousel_type {
  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    background-size: 30px auto;
    width: 100%;
    height: 80px;
    background-color: rgba(0, 0, 0, 0.6);
  }
  .carousel-control-prev,
  .carousel-control-next {
    width: 50px;
  }
  .carousel_btn {
    @media (min-width: 992px) {
      &:hover {
        span {
          background-color: #de4a20;
        }
      }
    }
  }

  .carousel-indicators {
    margin-bottom: 0;
    li {
      width: 20px;
      height: 20px;
      margin: 0 8px;
      border-radius: 50%;
      background-color: #000;
      &.active {
        background-color: #de4a20;
      }
    }
  }
}

#tab3 {
  position: relative;
  .carousel_type {
    height: 100%;
    div {
      height: 100%;
      background-size: cover;
      background-position: center;
    }
  }
  .mb_scroll {
    @media (max-width: 575px) {
      margin-top: 75vw;
    }
  }
  .col-md-12 {
    @media (max-width: 575px) {
      position: absolute;
      top: 65px;
      padding: 0;
      width: calc(100% - 40px);
    }
  }
}

#footer {
  background-color: #f8f8f8;
  @media (max-width: 575px) {
    padding-left: 20px;
    padding-right: 20px;
  }
  h2 {
    font-size: 1.25rem;
    color: #000000;
  }
  .index-for5 {
    width: 20%;
    float: left;
    @media (max-width: 991px) {
      width: 100%;
      float: none;
    }
  }
  .index-for5-brand,
  .index-for5-describe {
    font-size: 0.875rem;
    color: #000000;
    margin-bottom: 0.3rem;
  }
  .index-for5-price {
    font-size: 1.2rem;
    color: $topColor;
  }
  a {
    color: #606060;
    font-size: 0.875rem;
    margin-bottom: 1rem;
  }
  img {
    max-width: 150px;
  }
  ul {
    padding-left: 0;
    list-style-type: none;
    li {
      margin-bottom: 5px;
      @media (max-width: 991px) {
        display: inline-block;
        margin-right: 20px;
      }
    }
  }
}

.info {
  padding: 12px 8px;
  h6 {
    font-size: 18px;
    line-height: 1.67;
    font-weight: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    height: 60px;
    @media (max-width: 767px) {
      font-size: 14px;
      height: 46px;
    }
  }
  span {
    font-size: 14px;
    margin-right: 8px;
    padding-bottom: 8px;
    display: inline-block;
    &.suggest_price {
      @media (max-width: 575px) {
        margin-right: 0;
      }
      span {
        text-decoration: line-through;
        margin: 0;
        padding: 0;
      }
    }
    @media (max-width: 767px) {
      font-size: 13px;
    }
  }
  font {
    font-size: 12px;
    line-height: 28px;
    border: 1px solid #81b44d;
    color: #81b44d;
    padding: 0 8px;
    border-radius: 14px;
    -webkit-border-radius: 14px;
    -moz-border-radius: 14px;
    -ms-border-radius: 14px;
    -o-border-radius: 14px;
    display: inline-block;
    margin-bottom: 8px;
  }
  h5 {
    font-size: 24px;
    color: #de4a20;
    font-weight: normal;
    &:before {
      content: "NT$";
    }
    @media (max-width: 767px) {
      font-size: 22px;
    }
  }
}

.btn_area {
  * {
    -webkit-appearance: none;
    line-height: 47px;
  }
  > .row {
    > div {
    }
  }
  .count {
    display: flex;
    border: 1px solid #d0d0d0;
    overflow: hidden;
    border-radius: 5px;
    margin-bottom: 30px;
    @media (max-width: 991px) {
      margin-bottom: 20px;
    }
    * {
      border: none;
      text-align: center;
    }
    button {
      width: 50px;
      color: #dd4519;
      background-color: #fff;
    }
    input {
      width: 100%;
      border-right: 1px solid #d0d0d0;
      border-left: 1px solid #d0d0d0;
    }
  }
  button {
    &.W100 {
      width: 100%;
      border-width: 1px;
      border-style: solid;
      border-radius: 5px;
      margin-bottom: 30px;
      @media (max-width: 991px) {
        margin-bottom: 20px;
      }
    }
    &.fav {
      border: solid 1px #d0d0d0;
      background-color: #fff;
      color: #dd4519;
    }
    &.buy {
      color: #fff;
      background-color: #dd4519;
      border-color: #dd4519;
    }
    &.cart {
      color: #fff;
      background-color: #f46e48;
      border-color: #f46e48;
    }
  }
}

.carousel-control-prev,
.carousel-control-next {
  width: 10%;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-size: 60px auto;
  width: 100px;
  height: 100px;
}

.carousel-control-next-icon {
  background-image: url("../../assets/images/arrow_right.png");
}

.carousel-control-prev-icon {
  background-image: url("../../assets/images/arrow_left.png");
}

// 產品頁
#product {
  margin-top: 135px;
  padding-top: 75px;
  @media (max-width: 991px) {
    padding-top: 65px;
  }
  @media (max-width: 767px) {
    margin-top: 60px;
  }
  @media (max-width: 575px) {
    padding-left: 20px;
    padding-right: 20px;
  }
  .bread {
    height: 51px;
    line-height: 51px;
    padding: 0 30px;
    background-color: #fffaf7;
    border-bottom: solid 1px #dd4519;
    margin-bottom: 55px;
    @media (max-width: 991px) {
      padding: 0 20px;
      margin-bottom: 20px;
    }
    a {
      color: #4e4e4e;
      padding: 0 10px 0 0;
      &.active {
        color: #dd4519;
      }
    }
    span {
      padding: 0 10px 0 0;
    }
  }
  #tab_list {
    h4 {
      background-color: #dd4519;
      color: #fff;
      line-height: 56px;
      padding: 0 20px;
      border-top-right-radius: 15px;
      border-top-left-radius: 15px;
    }
    * {
      font-size: 16px;
      font-weight: normal;
    }
    ul {
      padding: 0;
    }
    li {
      line-height: 56px;
      list-style: none;
      padding: 0 20px;
      h3 {
        line-height: 56px;
      }
    }
    > ul {
      > li {
        border-bottom: #e8e8e8 1px solid;
        &.active {
          border-bottom-color: transparent;
          h3 {
            color: #dd4519;
          }
          background-color: #fffaf7;
          .sub_ul {
            display: block;
          }
        }
        .sub_ul {
          display: none;
          li {
            line-height: 45px;
            border-radius: 5px;
            padding: 0 10px;
            &.active {
              background-color: #dd4519;
              color: #fff;
            }
          }
        }
      }
    }
  }
  .img_wrapper {
    .img_nav {
      // display: flex;
      background-color: #fffaf7;
      padding: 20px 0;
      overflow: hidden;
      position: relative;
      .for_scroll {
        img {
          display: inline-block;
          margin: 0 5px;
          width: 36px;
          opacity: 0.6;
          &.active {
            opacity: 1;
          }
          @media (min-width: 1280px) {
            width: 118px;
            margin: 0 9px;
          }
        }
      }

      .arrow {
        position: absolute;
        width: 40px;
        height: 40px;
        top: 50%;
        transform: translate(0, -50%);
        text-align: center;
        img {
          width: 20px;
          margin: 0 auto;
        }
        &.left {
          left: 0;
        }
        &.right {
          right: 0;
        }
      }
    }
  }
  .flex {
    @media (min-width: 768px) {
      flex-wrap: inherit;
    }
    .detail_img {
      @media (min-width: 768px) {
        width: 168px;
        max-width: 168px;
      }
      @media (min-width: 1280px) {
        width: 438px;
        max-width: 438px;
      }
    }
    .detail_content {
      @media (min-width: 768px) {
        flex: inherit;
      }
      h3 {
        font-size: 24px;
        color: #dd4519;
        line-height: 1.8;
        font-weight: normal;
        @media (max-width: 991px) {
          line-height: 1.6;
          font-size: 18px;
        }
        @media (max-width: 767px) {
          margin-top: 25px;
        }
      }
      p {
        @media (max-width: 991px) {
          font-size: 14px;
        }
      }
      .btn_area {
        margin-top: 18px;
      }
    }
  }

  .fixed_btn {
    width: 68px;
    right: 10px;
    bottom: 50%;
    transform: translate(0,50%);
    -webkit-transform: translate(0,50%);
    -moz-transform: translate(0,50%);
    -ms-transform: translate(0,50%);
    -o-transform: translate(0,50%);
    z-index: 100;
    @media(max-width: 767px) {
      width: 100%;
      height: 50px;
      bottom: 0;
      left: 0;
      transform: none;
      -webkit-transform: none;
      -moz-transform: none;
      -ms-transform: none;
      -o-transform: none;
      display: none;
      &.active {
        display: flex;
      }
    }
    button {
      cursor: pointer;
      -webkit-appearance: none;
      border: none;
      width: 100%;
      height: 100px;
      padding: 12px 0;
      color: #fff;
      background-color: #dd4519;
      font-size: 16px;
      font-weight: normal;
      line-height: 1.5;
      height: 100px;
      margin-bottom: 3px;
      border-radius: 5px;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      -ms-border-radius: 5px;
      -o-border-radius: 5px;
      &:hover {
        opacity: .95;
      }
      &.goTop {
        background-color: #6e6e6e;
        img {
          width: 24px;
        }
        @media (max-width: 767px) {
          position: absolute;
          top: -50px;
          right: 12px;
          width: 38px;
          height: 38px;
          border-radius: 5px;
          img {
            width: 14px;
          }
        }
      }
      @media (max-width: 767px) {
        width: 50%;
        height: 100%;
        display: inline-block;
        border-radius: 0;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        -ms-border-radius: 0;
        -o-border-radius: 0;
        &.cart {
          background-color: #f46e48;
        }
      }
      img {
        display: block;
        margin: 0 auto 3px;
        width: 27px;
      }
}
  }

  .title {
    border-bottom: solid 1px #dd4519;
    color: #dd4519;
    line-height: 60px;
  }

  .des {
    font-size: 16px;
    text-align: left;
    img {
      max-width: 100%;
      height: auto !important;
    }
  }
}

@media (max-width: 767px) {
  .nav-tabs .nav-link {
    padding: 0.8rem 0rem;
  }
}
