$topColor: #dd4500;
body {
  color: #4e4e4e;
}
body,
html {
  font-family: "Noto Sans TC", sans-serif;
  overflow-x: hidden;
  width: 100%;
}

.f_orange {
  color: #dd4500;
}

.f_grey {
  color: #4e4e4e;
}

#wrapper {
  position: relative;
}

#content {
  margin-top: 90px;
}

.container {
  padding: 0;
  @media (min-width: 1300px) {
    max-width: 1260px;
    padding: 0;
  }
}

// 選單開始
#menu {
  background-color: #6e6e6e;
  font-size: 14px;
  overflow: visible;
  height: 43px;
  position: absolute;
  top: calc(20vw + 8px);
  left: 0;
  width: 100%;
  z-index: 200;
  @media (max-width: 767px) {
    top: 100.5vw;
  }
  .container {
    overflow: scroll;
    position: relative;
    width: calc(100% - 40px);
  }
  ul.main_menu {
    // display: flex;
    // flex-wrap: wrap;
    // justify-content: space-around;
    padding: 0;
    margin-bottom: 0;
    li {
      color: #fff;
      line-height: 43px;
      width: 80px;
      text-align: center;
      cursor: pointer;
      &.active {
        background-color: #dd4519;
      }
      @media (min-width: 992px) {
        &:hover {
          background-color: #dd4519;
        }
      }
    }
  }
  #sub_menu {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    top: 43px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    background-color: #ffffff;
    padding: 25px 80px;
    display: none;
    &.show {
      display: block;
    }
    ul {
      font-size: 14px;
      width: 140px;
      text-indent: 6px;
      min-height: 100px;
      vertical-align: top;
      margin-right: 40px;
    }
    h4 {
      font-size: 14px;
      color: #dd4519;
      padding-bottom: 10px;
      margin-bottom: 10px;
      border-bottom: #dd4519 1px solid;
    }
    li {
      font-size: 14px;
      margin-bottom: 10px;
      line-height: 1.5;
      text-align: left;
      list-style-type: none;
      a {
        color: #838383;
        @media (min-width: 992px) {
          &:hover {
            color: #dd4519;
          }
        }
      }
    }
  }
}
// 選單結束

#carouselIndexCaptions {
  padding-bottom: 43px;
  border-top: 5px #f5f5f5 solid;
}

.tab_area {
  margin-top: 48px;
  position: relative;
  @media (max-width: 575px) {
    margin-bottom: 20px;
  }
  .tab {
    height: 51px;
    background-color: #f8f8f8;
    border-bottom: 3px solid #eaa693;
    margin-bottom: 20px;
    overflow: scroll;
    @media (max-width: 575px) {
      width: calc(100% - 40px);
      margin-left: auto;
      margin-right: auto;
    }
    ul {
      padding: 0;
      margin: 0;
    }
    li {
      width: 137px;
      position: relative;
      text-align: center;
      font-size: 16px;
      line-height: 48px;
      color: #606060;
      &:after {
        content: "";
        position: absolute;
        right: 0;
        top: 12px;
        height: 24px;
        width: 1px;
        background-color: #eaa693;
      }
      &:last-child {
        &:after {
          display: none;
        }
      }
      &.active {
        border-top-right-radius: 15px;
        border-top-left-radius: 15px;
        background-color: #de4a20;
        color: #fff;
      }
    }
  }
  .mb_scroll {
    width: 100%;
    overflow: scroll;
  }
  .content_list {
    display: none;
    &.active {
      display: flex;
    }
    @media (min-width: 576px) {
      width: calc(100% + 30px) !important;
    }
    @media (max-width: 575px) {
      margin-left: 0;
      margin-right: 0;
      padding: 0 20px;
    }
    > div {
      margin-bottom: 20px;
      @media (max-width: 575px) {
        width: 146px;
        padding: 0 5px;
        margin-bottom: 0;
      }
    }
    .img_wrapper {
      position: relative;
      span {
        position: absolute;
        bottom: 0;
        left: 0;
        line-height: 37px;
        padding: 0 20px;
        background-color: #81b44d;
        color: #fff;
        border-top-right-radius: 15px;
        @media (max-width: 575px) {
          padding: 0 10px;
        }
      }
    }
    .info {
      padding: 12px 8px;
      h6 {
        font-size: 18px;
        line-height: 1.67;
        font-weight: normal;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
      }
      span {
        font-size: 14px;
        margin-right: 8px;
        &.suggest_price {
          span {
            text-decoration: line-through;
            margin-right: 0;
          }
        }
      }
      font {
        font-size: 12px;
        line-height: 28px;
        border: 1px solid #81b44d;
        color: #81b44d;
        padding: 0 8px;
        border-radius: 14px;
        -webkit-border-radius: 14px;
        -moz-border-radius: 14px;
        -ms-border-radius: 14px;
        -o-border-radius: 14px;
      }
      h5 {
        font-size: 24px;
        color: #de4a20;
        font-weight: normal;
        &:before {
          content: "NT$";
        }
      }
    }
  }

  .see_more {
    position: absolute;
    right: 13px;
    top: 13px;
    line-height: 24px;
    color: #606060;
    &::after {
      content: "";
      display: inline-block;
      vertical-align: top;
      text-align: center;
      width: 24px;
      height: 24px;
      background-color: #de4a20;
      background-image: url("../../assets/images/arrow.png");
      background-size: 10px;
      background-repeat: no-repeat;
      background-position: center;
      color: #fff;
      border-radius: 50%;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      -o-border-radius: 50%;
      margin-left: 8px;
    }
    @media (max-width: 767px) {
      position: relative;
      display: block;
      top: 0;
      margin-top: 20px;
      margin-left: 15px;
    }
    @media (max-width: 575px) {
      margin-left: 35px;
    }
  }
}

.carousel_type {
  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    background-size: 30px auto;
    width: 100%;
    height: 80px;
    background-color: rgba(0, 0, 0, 0.6);
  }
  .carousel-control-prev,
  .carousel-control-next {
    width: 50px;
  }
  .carousel_btn {
    @media (min-width: 992px) {
      &:hover {
        span {
          background-color: #de4a20;
        }
      }
    }
  }

  .carousel-indicators {
    margin-bottom: 0;
    li {
      width: 20px;
      height: 20px;
      margin: 0 8px;
      border-radius: 50%;
      background-color: #000;
      &.active {
        background-color: #de4a20;
      }
    }
  }
}

#tab3 {
  .carousel_type {
    height: 100%;
    div {
      height: 100%;
      background-size: cover;
      background-position: center;
    }
  }
}

#footer {
  h2 {
    font-size: 1.25rem;
    color: #000000;
  }
  background-color: #f8f8f8;
  a {
    color: #606060;
    font-size: 0.875rem;
    margin-bottom: 1rem;
  }
  ul {
    padding-left: 0;
    list-style-type: none;
    li {
      margin-bottom: 5px;
    }
  }
}

.index-for5 {
  width: 20%;
  float: left;
}
.index-for5-brand,
.index-for5-describe {
  font-size: 0.875rem;
  color: #000000;
  margin-bottom: 0.3rem;
}
.index-for5-price {
  font-size: 1.2rem;
  color: $topColor;
}

.carousel-control-prev,
.carousel-control-next {
  width: 10%;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-size: 60px auto;
  width: 100px;
  height: 100px;
}

.carousel-control-next-icon {
  background-image: url("../../assets/images/arrow_right.png");
}

.carousel-control-prev-icon {
  background-image: url("../../assets/images/arrow_left.png");
}

@media (max-width: 992px) {
}
@media (max-width: 768px) {
  .navbar-brand {
    img {
      width: 90px;
    }
  }
  .nav-tabs .nav-link {
    padding: 0.8rem 0rem;
  }
  .product_area {
    // padding-left: 1vw;
    // padding-right: 1vw;
    .card-body {
      padding: 0.25rem;
    }
    .card-title {
      font-size: 4.5vw;
    }
    .card-footer {
      padding: 0.25rem;
    }
    .pa_desc {
      font-size: 3vw;
    }
    .pa_price {
      font-size: 5vw;
    }
  }
  .navCatalog {
    ul {
      li {
        font-size: 1.2rem;
      }
    }
  }
}
