body {
  color: #4e4e4e;
}

body,
html {
  font-family: "Noto Sans TC", sans-serif;
  overflow-x: hidden;
  width: 100%;
}

.f_orange {
  color: #dd4500;
}

.f_grey {
  color: #4e4e4e;
}

#wrapper {
  position: relative;
}

#content {
  margin-top: 90px;
}

.container {
  padding: 0;
}

@media (min-width: 1300px) {
  .container {
    max-width: 1260px;
    padding: 0;
  }
}

#menu {
  background-color: #6e6e6e;
  font-size: 14px;
  overflow: visible;
  height: 43px;
  position: absolute;
  top: calc(20vw + 8px);
  left: 0;
  width: 100%;
  z-index: 200;
}

@media (max-width: 767px) {
  #menu {
    top: 100.5vw;
  }
}

#menu .container {
  overflow: scroll;
  position: relative;
  width: calc(100% - 40px);
}

#menu ul.main_menu {
  padding: 0;
  margin-bottom: 0;
}

#menu ul.main_menu li {
  color: #fff;
  line-height: 43px;
  width: 80px;
  text-align: center;
  cursor: pointer;
}

#menu ul.main_menu li.active {
  background-color: #dd4519;
}

@media (min-width: 992px) {
  #menu ul.main_menu li:hover {
    background-color: #dd4519;
  }
}

#menu #sub_menu {
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  top: 43px;
  -webkit-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
          box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  background-color: #ffffff;
  padding: 25px 80px;
  display: none;
}

#menu #sub_menu.show {
  display: block;
}

#menu #sub_menu ul {
  font-size: 14px;
  width: 140px;
  text-indent: 6px;
  min-height: 100px;
  vertical-align: top;
  margin-right: 40px;
}

#menu #sub_menu h4 {
  font-size: 14px;
  color: #dd4519;
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: #dd4519 1px solid;
}

#menu #sub_menu li {
  font-size: 14px;
  margin-bottom: 10px;
  line-height: 1.5;
  text-align: left;
  list-style-type: none;
}

#menu #sub_menu li a {
  color: #838383;
}

@media (min-width: 992px) {
  #menu #sub_menu li a:hover {
    color: #dd4519;
  }
}

#carouselIndexCaptions {
  padding-bottom: 43px;
  border-top: 5px #f5f5f5 solid;
}

.tab_area {
  margin-top: 48px;
  position: relative;
}

.tab_area .tab {
  height: 51px;
  background-color: #f8f8f8;
  border-bottom: 3px solid #eaa693;
  margin-bottom: 20px;
  overflow: scroll;
}

@media (max-width: 575px) {
  .tab_area .tab {
    width: calc(100% - 40px);
    margin-left: auto;
    margin-right: auto;
  }
}

.tab_area .tab ul {
  padding: 0;
  margin: 0;
}

.tab_area .tab li {
  width: 137px;
  position: relative;
  text-align: center;
  font-size: 16px;
  line-height: 48px;
  color: #606060;
}

.tab_area .tab li:after {
  content: '';
  position: absolute;
  right: 0;
  top: 12px;
  height: 24px;
  width: 1px;
  background-color: #eaa693;
}

.tab_area .tab li:last-child:after {
  display: none;
}

.tab_area .tab li.active {
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  background-color: #de4a20;
  color: #fff;
}

.tab_area .content_list {
  display: none;
}

.tab_area .content_list.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 575px) {
  .tab_area .content_list {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .tab_area .content_list .mb_scroll {
    width: 100%;
    overflow: scroll;
  }
}

.tab_area .content_list > div {
  margin-bottom: 20px;
}

@media (max-width: 575px) {
  .tab_area .content_list > div {
    width: 146px;
    padding: 0 5px;
  }
}

.tab_area .content_list .img_wrapper {
  position: relative;
}

.tab_area .content_list .img_wrapper span {
  position: absolute;
  bottom: 0;
  left: 0;
  line-height: 37px;
  padding: 0 20px;
  background-color: #81b44d;
  color: #fff;
  border-top-right-radius: 15px;
}

.tab_area .content_list .info {
  padding: 12px 8px;
}

.tab_area .content_list .info h6 {
  font-size: 18px;
  line-height: 1.67;
  font-weight: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.tab_area .content_list .info span {
  font-size: 14px;
  margin-right: 8px;
}

.tab_area .content_list .info span.suggest_price span {
  text-decoration: line-through;
  margin-right: 0;
}

.tab_area .content_list .info font {
  font-size: 12px;
  line-height: 28px;
  border: 1px solid #81b44d;
  color: #81b44d;
  padding: 0 8px;
  border-radius: 14px;
  -webkit-border-radius: 14px;
  -moz-border-radius: 14px;
  -ms-border-radius: 14px;
  -o-border-radius: 14px;
}

.tab_area .content_list .info h5 {
  font-size: 24px;
  color: #de4a20;
  font-weight: normal;
}

.tab_area .content_list .info h5:before {
  content: 'NT$';
}

.tab_area .see_more {
  position: absolute;
  right: 13px;
  top: 13px;
}

.tab_area .see_more::after {
  content: '>';
  display: inline-block;
  text-align: center;
  line-height: 24px;
  width: 24px;
  height: 24px;
  background-color: #de4a20;
  color: #fff;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  margin-left: 8px;
}

@media (max-width: 767px) {
  .tab_area .see_more {
    position: relative;
    top: 0;
    margin-left: 15px;
  }
}

#footer {
  background-color: #F8F8F8;
}

#footer h2 {
  font-size: 1.25rem;
  color: #000000;
}

#footer a {
  color: #606060;
  font-size: 0.875rem;
  margin-bottom: 1rem;
}

#footer ul {
  padding-left: 0;
  list-style-type: none;
}

#footer ul li {
  margin-bottom: 5px;
}

.index-for5 {
  width: 20%;
  float: left;
}

.index-for5-brand, .index-for5-describe {
  font-size: 0.875rem;
  color: #000000;
  margin-bottom: .3rem;
}

.index-for5-price {
  font-size: 1.2rem;
  color: #dd4500;
}

.carousel-control-prev, .carousel-control-next {
  width: 10%;
}

.carousel-control-prev-icon, .carousel-control-next-icon {
  background-size: 60px auto;
  width: 100px;
  height: 100px;
}

.carousel-control-next-icon {
  background-image: url("../../assets/images/arrow_right.png");
}

.carousel-control-prev-icon {
  background-image: url("../../assets/images/arrow_left.png");
}

@media (max-width: 768px) {
  .navbar-brand img {
    width: 90px;
  }
  .nav-tabs .nav-link {
    padding: .8rem 0rem;
  }
  .product_area .card-body {
    padding: .25rem;
  }
  .product_area .card-title {
    font-size: 4.5vw;
  }
  .product_area .card-footer {
    padding: .25rem;
  }
  .product_area .pa_desc {
    font-size: 3vw;
  }
  .product_area .pa_price {
    font-size: 5vw;
  }
  .navCatalog ul li {
    font-size: 1.2rem;
  }
}
/*# sourceMappingURL=index.css.map */